<% content_for(:title, t('.title')) %>
<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="text-center mb-4">
    <div class="row how-title">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold"><%= t('.title') %></h1><br>
        <span class="top-body-3">基本的な操作や機能について紹介します。</span>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="mb-5">
        <p><a href="<%= users_setting_path %>" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">< 戻る</a></p>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">Recordiアカウントの登録</h2><br>
    <p class="how-text">「アカウント登録」をタップまたはクリックして、名前、メールアドレス、パスワードを入力後、「登録」をタップまたはクリックしてください。<br>
    Googleアカウントの連携でもアカウント登録できます。<br>
    登録後、カレンダー画面が表示されます。</p>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">メニュー</h2><br>
    <p class="how-text">メニューは画面上部に表示されます。表示されていない場合は、画面右上の「 ≡ 」をタップするとメニューが表示されます。<br>
    メニューには、「カレンダー」「思い出」「思い出を記録」「ポスト」「ユーザーアイコン・ユーザーネーム」の５つの項目があります。</p>

    <%= image_tag("header.png", class: "how-image-3 border border-secondary mb-3") %>
    <%= image_tag("header_2.png", class: "how-image-2 border border-secondary") %>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">思い出を記録する</h2><br>
    <p class="how-text">メニューの「思い出を記録」またはカレンダーの日数をタップまたはクリックすると、思い出を記録する画面が表示されます。<br>
    必須項目とその他の項目を入力後、「登録」をタップまたはクリックしてください。</p>

    <%= image_tag("new_memory.png", class: "how-image border border-secondary") %>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">思い出</h2><br>
    <p class="how-text">メニューの「思い出」をタップまたはクリックすると、思い出が一覧表示されます。<br>
    表示されている思い出をタップまたはクリックするとその思い出の詳細が表示されます。<br>
    この画面では、思い出の一覧が表示される他に、「７ヶ月間の思い出の数を比較」「検索窓」「タグリスト」が表示されます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">７ヶ月間の思い出の数を比較</span>
    <p class="how-text">「７ヶ月間の思い出の数を比較」をタップまたはクリックすると、７ヶ月間の思い出の数を比較できるグラフが表示されます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">検索窓</span>
    <p class="how-text">思い出を検索できます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">タグリスト</span>
    <p class="how-text">思い出に設定したタグの一覧が表示されます。タグの名前をタップまたはクリックすると、そのタグを設定した思い出が表示されます。</p>

    <%= image_tag("memories.png", class: "how-image border border-secondary mb-3") %>
    <%= image_tag("memories_2.png", class: "how-image-2 border border-secondary") %>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">カレンダー</h2><br>
    <p class="how-text">メニューの「カレンダー」をタップまたはクリックすると、カレンダー、思い出の画像、思い出の数、思い出タグが表示されます。</p>

    <%= image_tag("calendar.png", class: "how-image border border-secondary mb-3") %>
    <%= image_tag("calendar_2.png", class: "how-image-2 border border-secondary mb-4") %>
    <br>

    <span class="how-title-4">|</span>
    <span class="how-title-3">カレンダー</span>
    <p class="how-text">カレンダーの月は「<<」または「>>」で切り替えます。カレンダーの日数をタップまたはクリックすると思い出を記録することができます。<br>
    また、思い出を記録するとカレンダーの日数の色が変わり、色が変わっている日数をタップまたはクリックするとその日付の思い出が表示されます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">思い出の画像</span>
    <p class="how-text">思い出を記録するとカレンダー画面に思い出の画像（メイン画像）が表示されます。画像には思い出の日付とタイトルが表示され、「日付・タイトル」をタップまたはクリックすると思い出を見ることができます。<br>
    また、記録した思い出に画像がない場合、No Image画像が表示されます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">思い出の数</span>
    <p class="how-text">表示されているカレンダーの月の思い出の数が表示されます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">思い出タグ</span>
    <p class="how-text">表示されているカレンダーの月の思い出に設定したタグが表示されます。</p>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">ポストを作成する</h2><br>
    <p class="how-text">思い出を他のユーザーに共有する際にはポストを作成してください。作成方法は次の通りです。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">1. 思い出の詳細を表示</span>
    <p class="how-text">思い出一覧画面またはカレンダー画面から、思い出の詳細を表示してください。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">2.「ポストを作成」をタップまたはクリック</span>
    <p class="how-text">思い出詳細画面の「ポストを作成」をタップまたはクリックしてください。また、「ポストを作成」がない場合はその思い出に評価を追加すると「ポストを作成」が表示されます。</p>

    <%= image_tag("memory.png", class: "how-image border border-secondary mb-3") %>
    <%= image_tag("memory_2.png", class: "how-image-2 border border-secondary mb-4") %>
    <br>

    <span class="how-title-4">|</span>
    <span class="how-title-3">3. ポスト作成画面</span>
    <p class="how-text">ポスト作成画面が表示されたらタイトルと本文を入力し「登録」をタップまたはクリックしてください。タグの登録は自由です。</p>

    <%= image_tag("new_post.png", class: "how-image border border-secondary") %>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">ポスト</h2><br>
    <p class="how-text">メニューの「ポスト」をタップまたはクリックすると、自分または他のユーザーが作成したポストが一覧表示されます。<br>
    表示されているポストをタップまたはクリックするとそのポストの詳細が表示されます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">検索窓</span>
    <p class="how-text">ポストを検索できます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">タグリスト</span>
    <p class="how-text">ポストに設定したタグの一覧が表示されます。タグの名前をタップまたはクリックすると、そのタグを設定したポストが表示されます。</p>

    <span class="how-title-4">|</span>
    <span class="how-title-3">いいね</span>
    <p class="how-text">ポストに表示されている「ハートマーク」をタップまたはクリックするとそのポストに「いいね」することができます。</p>

    <%= image_tag("posts.png", class: "how-image border border-secondary mb-3") %>
    <%= image_tag("posts_2.png", class: "how-image-2 border border-secondary") %>
  </div>
</div>

<div class="container">
  <div class="how-text-bottom">
    <h2 class="fw-bold how-title-2">ユーザーアイコン・ユーザーネーム</h2><br>
    <p class="how-text">メニューの「ユーザーアイコン・ユーザーネーム」をタップまたはクリックすると、ドロップダウンメニューが表示されます。<br>
    ドロップダウンメニューには、「プロフィール」「設定・その他」「ログアウト」の３つの項目があります。</p>

    <%= image_tag("header_3.png", class: "how-image-3 border border-secondary mb-3") %>
    <%= image_tag("header_4.png", class: "how-image-2 border border-secondary mb-4") %>
    <br>

    <span class="how-title-4">|</span>
    <span class="how-title-3">プロフィール</span>
    <p class="how-text">「プロフィール」をタップまたはクリックすると、プロフィール画面を表示します。<br>
    プロフィール画面ではプロフィールと作成したポストが表示され、「プロフィールを編集」をタップまたはクリックするとユーザーの名前とアバター画像を変更できます。<br>
    「いいねしたポスト」をタップまたはクリックするといいねしたポストの一覧が表示されます。</p>

    <%= image_tag("profile.png", class: "how-image border border-secondary mb-3") %>
    <%= image_tag("profile_2.png", class: "how-image-2 border border-secondary mb-4") %>
    <br>

    <span class="how-title-4">|</span>
    <span class="how-title-3">設定・その他</span>
    <p class="how-text">「設定・その他」をタップまたはクリックすると、リマインダーメールとヘルプが表示されます。<br>
    リマインダーメールではリマインダーメールの受信設定を変更できます。</p>

    <%= image_tag("set.png", class: "how-image border border-secondary mb-3") %>
    <%= image_tag("set_2.png", class: "how-image-2 border border-secondary mb-4") %>
    <br>

    <span class="how-title-4">|</span>
    <span class="how-title-3">ログアウト</span>
    <p class="how-text">「ログアウト」をタップまたはクリックするとログアウトします。</p>
  </div>
</div>