<% content_for(:title, t('.title')) %>
<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="mb-3 mt-3">
        <h1><%= t('.title') %></h1>
      </div>
      <%= form_with model: [@user, @reminder], url: user_reminder_path(@user), method: :post, local: true do |f| %>
        <div class="mb-3 form-check form-switch">
          <%= f.label :mail_receiving_saturday, "土曜日に休日通知メールを受信" %>
          <%= f.check_box :mail_receiving_saturday, class: "form-check-input" %>
        </div>

        <div class="mb-3 form-check form-switch">
          <%= f.label :mail_receiving_sunday, "日曜日に休日通知メールを受信" %>
          <%= f.check_box :mail_receiving_sunday, class: "form-check-input" %>
        </div>

        <%= f.submit "更新", class: "btn btn-primary mb-3" %>
      <% end %>

      <div class="mb-3 mt-3">
        <p><a href="<%= users_setting_path %>" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">< 戻る</a></p>
      </div>
    </div>
  </div>
</div>