<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 class="mb-4 mt-5">設定・その他</h2>
      <div class="border-top border-bottom">
        <h4 class="mb-3 mt-3">リマインダーメール</h4>
        <div class="mb-2">
          <% if @reminder %>
            <% if @reminder.mail_receiving_saturday == true %>
              <p>土曜日に休日通知メールを受け取る： ON</p>
            <% else %>
              <p>土曜日に休日通知メールを受け取る： OFF</p>
            <% end %>

            <% if @reminder.mail_receiving_sunday == true %>
              <p>日曜日に休日通知メールを受け取る： ON</p>
            <% else %>
              <p>日曜日に休日通知メールを受け取る： OFF</p>
            <% end %>

            <a class="btn btn-outline-primary rounded-pill" href="<%= edit_user_reminder_path(@user) %>">リマインダーメール設定 ＞</a>
          <% else %>
            <p>土曜日に休日通知メールを受け取る： OFF</p>
            <p>日曜日に休日通知メールを受け取る： OFF</p>

            <a class="btn btn-outline-primary rounded-pill" href="<%= new_user_reminder_path(@user) %>">リマインダーメール設定 ＞</a>
          <% end %>
        </div>
      </div>

      <div class="border-bottom">
        <h4 class="mb-3 mt-4">ヘルプ</h4>

        <div class="mb-3 mt-3">
          <p><a href="<%= how_to_use_path %>" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= t('header.recordi') %></a></p>
        </div>

        <div class="mb-3 mt-3">
          <p><a href="<%= new_public_inquiry_path %>" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= t('header.inquiry') %></a></p>
        </div>

        <div class="mb-3 mt-3">
          <p><a href="https://kiyac.app/privacypolicy/gqXKKMglpTUjVTdAv4fD" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= t('header.privacy') %></a></p>
        </div>

        <div class="mb-3 mt-3">
          <p><a href="https://kiyac.app/termsOfService/URNSB6yu92Nf6yIXBGGF" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= t('header.terms') %></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
