<div class="container">
  <h1 class="mb-3 mt-4">プロフィール</h1>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "rounded-circle mb-5", width: '200', height: '200'  %>
        <% else %>
          <%= image_tag "icon.png", class: "rounded-circle mb-5", width: '200', height: '200' %>
        <% end %>

        <div class="mb-5">
          <h1><%= @user.name %></h1>
        </div>

        <div class="mb-5">
          <h2><%= @user.email %></h2>
        </div>

        <div class="mb-3">
          <%= link_to 'プロフィールを編集', edit_user_registration_path, class: 'btn btn-primary' %>
        </div>

        <div>
          <% if @user.avatar.attached? %>
            <%= button_to 'アバター画像を削除', delete_avatar_path(@user), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="py-4 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">My Post</h1>
      </div>
    </div>
  </section>

  <% if @tag_list.present? %>
    タグリスト
    <div class="tag-container mb-4">
      <% @tag_list.each do |tag|%>
        <div class="tag">
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to tag.name,search_mypost_tag_posts_path(post_tag_id: tag.id) %>
          <%= "(#{tag.posts.count})" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <% if @posts.present? %>
          <%= render "my_post", posts: @posts %>
        <% else %>
          <div class="mb-3">
            <h1>ポストがありません</h1>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>