<h1>プロフィール</h1>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, class: "rounded-circle mb-3", alt: "mdo", width: '100', height: '100'  %>
<% else %>
  <%= image_tag "icon.jpg", class: "rounded-circle mb-3", alt: "mdo", width: '100', height: '100' %>
<% end %>

<h3>ユーザー名</h3>
<div class="mb-3">
  <%= @user.name %>
</div>

<h3>メールアドレス</h3>
<div class="mb-3">
  <%= @user.email %>
</div>

<div>
  <%= link_to 'プロフィール編集', edit_user_registration_path, class: 'btn btn-primary' %>
</div>
<% if @user.avatar.attached? %>
  <div>
    <%= button_to 'アバター画像を削除', delete_avatar_path(@user), method: :delete, class: 'btn btn-danger mb-3' %>
  </div>
<% end %>

<% if @user.avatar.attached? %>
  <h3>My Post</h3>
  <% @posts.each do |post| %>
    <div class="mb-3">
      <div>
        <%= link_to post.title, memory_post_path(memory_id: post.memory_id, id: post.id) %>
      </div>

      <div>
        <%= post.body %>
      </div>
    </div>
  <% end %>
<% end %>