<div class="container">
  <section class="text-center container mt-3">
    <div class="row pf-style">
      <div class="col-lg-6 col-md-8 mx-auto">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "rounded-circle pf-bottom avatar-size" %>
        <% else %>
          <%= image_tag "icon.png", class: "rounded-circle pf-bottom avatar-size" %>
        <% end %>

        <div class="pf-bottom">
          <h1><%= @user.name %></h1>
        </div>

        <div class="pf-bottom-2">
          <h2><%= @user.email %></h2>
        </div>

        <div class="pf-bottom-3">
          <a class="btn btn-outline-primary btn-sm" href="<%= edit_user_registration_path %>" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
            プロフィールを編集
          </a>

          <% if @user.avatar.attached? %>
            <a class="btn btn-outline-danger btn-sm ms-3" href="<%= delete_avatar_path(@user) %>" data-turbo-method="delete" data-turbo-confirm="削除しますか？" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
              アバター画像を削除
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center container mt-3 mb-3 border-top border-success">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light mt-3"><%= current_user.name %>のポスト</h1>
        <a class="btn btn-outline-dark rounded-pill mt-2" href="<%= users_favorite_posts_path %>" role="button">
          <i class="far fa-heart" style="color: red;"></i>
          いいねしたポスト ＞
        </a>
      </div>
    </div>
  </section>

  <% if @tag_list.present? %>
    <div class="dropdown mb-4">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
          <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0"/>
          <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z"/>
        </svg>
        タグリスト
      </button>

      <div class="dropdown-menu text-body-secondary" style="max-width: 100%;">
        <div class="tag-container ms-3">
          <% @tag_list.each do |tag|%>
            <div class="tag me-3">
              <i class="bi bi-tag-fill"></i>
              <%= link_to tag.name, search_mypost_tag_posts_path(post_tag_id: tag.id) %>
              <%= "(#{tag.posts.where(user_id: current_user.id).count})" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% if @posts.present? %>
      <%= render "my_post", posts: @posts %>
    <% else %>
      <div class="mb-3">
        <h1>ポストがありません</h1>
      </div>
    <% end %>
  </div>
</div>