<div class="header-position">
  <header>
    <div class="header-inner">
      <div>
        <h2 class="header-logo">RECORDI</h2>
        <%= link_to 'calendar', memories_path, class: 'header-link' %>
        <%= link_to 'chart', compare_memories_path, class: 'header-link' %>
        <%= link_to 'memory', all_memories_path, class: 'header-link' %>
        <%= link_to 'new memory', new_memory_path, class: 'header-link' %>
        <%= link_to 'post', posts_path, class: 'header-link' %>
      </div>

      <div class="icons">
        <div class='dropdown user-icon'>
          <%= link_to '#', class: "d-block link-body-emphasis text-decoration-none show", data: { bs_toggle: 'dropdown' }, aria: { expanded: 'true' } do %>
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "rounded-circle", alt: "mdo", width: '45', height: '45'  %>
            <% else %>
              <%= image_tag "icon.png", class: "rounded-circle", width: '45', height: '45' %>
            <% end %>
          <% end %>
          <div class='dropdown-menu'>
            <div class='dropdown-item'><%= current_user.name %></div>
            <div class='dropdown-divider'></div>
            <%= link_to "マイページ", users_profile_path, class: "dropdown-item" %>
            <%= link_to 'ログアウト', destroy_user_session_path, class: "dropdown-item", method: :delete  %>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>