<header class="sticky-top header-style" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="header-logo" href="<%= memories_path %>">Recordi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item header-link">
            <a class="nav-link <%= 'active' if current_page?(memories_path) %>" href="<%= memories_path %>"><%= t('header.calendar') %></a>
          </li>
          <li class="nav-item header-link">
            <a class="nav-link <%= 'active' if current_page?(all_memories_path) %>" href="<%= all_memories_path %>"><%= t('header.memory') %></a>
          </li>
          <li class="nav-item header-link">
            <a class="nav-link <%= 'active' if current_page?(new_memory_path) %>" href="<%= new_memory_path %>"><%= t('header.new_memory') %></a>
          </li>
          <li class="nav-item header-link">
            <a class="nav-link <%= 'active' if current_page?(posts_path) %>" href="<%= posts_path %>"><%= t('header.post') %></a>
          </li>
        </ul>

        <div class='dropdown user-icon'>
          <%= link_to '#', class: "d-block link-body-emphasis text-decoration-none show", data: { bs_toggle: 'dropdown' }, aria: { expanded: 'true' } do %>
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "rounded-circle", alt: "mdo", width: '45', height: '45'  %><span class="user-icon-name ms-1"><%= current_user.name %></span>
            <% else %>
              <%= image_tag "icon.png", class: "rounded-circle", width: '45', height: '45' %> <%= " " %> <span class="user-icon-name"><%= current_user.name %></span>
            <% end %>
          <% end %>
          <div class='dropdown-menu dropdown-menu-dark'>
            <%= link_to t('header.my_page'), users_profile_path, class: "dropdown-item" %>
            <%= link_to t('header.setting'), users_setting_path, class: "dropdown-item" %>
            <%= link_to t('header.logout'), destroy_user_session_path, class: "dropdown-item", method: :delete  %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>