<div class="header-position">
  <header>
    <div class="header-inner">
      <div>
        <h2 class="header-logo">RECORDI</h2>
        <%= link_to 'calendar', memories_path, class: 'header-link' %>
        <%= link_to 'memory', all_memories_path, class: 'header-link' %>
        <%= link_to 'new memory', new_memory_path, class: 'header-link' %>
        <%= link_to 'post', posts_path, class: 'header-link' %>
      </div>

      <div class="icons">
        <div class='dropdown user-icon'>
          <%= link_to '#', class: "d-block link-body-emphasis text-decoration-none show", data: { bs_toggle: 'dropdown' }, aria: { expanded: 'true' } do %>
            <%= image_tag "icon.jpg", class: "rounded-circle", alt: "mdo", width: '40', height: '40' %>
          <% end %>
          <div class='dropdown-menu'>
            <div class='dropdown-item'><%= current_user.name %></div>
            <div class='dropdown-divider'></div>
            <%= link_to "マイページ", "#", class: "dropdown-item" %>
            <%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>