<% content_for(:title, t('.title')) %>
<div class="session-style">
  <div class="form-container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="heading">
          <%= image_tag "Recordi_2.png", width: "200", alt: "mdo" %>
        </div>

        <div class="form-title">
          <h3 class="fw-bold"><%= t('.title') %></h3>
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %> 文字以上)
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="mb-4">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.submit t('.password_edit'), class: "password-form-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>