<div class="form-container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class="heading">
        <h2>Recordi</h2>
      </div>

      <div class="form-title">
        <h3>パスワードリセット申請</h3>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-4">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", class: "form-control"  %>
        </div>

        <div class="mb-3">
          <%= f.submit "再設定用リンクを送信", class: "password-form-button"  %>
        </div>
      <% end %>

      <div class="text-right mb-2">
        <%= link_to 'Log in', new_user_session_path, class: "signup-login-link" %>
      </div>
      <div class="text-right">
        <%= link_to 'Sign up', new_user_registration_path, class: "signup-login-link" %>
      </div>
    </div>
  </div>
</div>
