<%= form_with model: @post, url: memory_posts_path(@memory), local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "10" %>
  </div>

  <%= f.submit nil, class: "btn btn-primary mb-3" %>
<% end %> 