<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>post作成</h1>

      <%= form_with model: @post, url: memory_posts_path(@memory), local: true do |f| %>
        <div class="mb-3">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control", rows: "10" %>
        </div>

        <div class="mb-3">
          <%= f.label :tag_names %>
          <%= f.text_field :tag_names, class: 'form-control', placeholder: ',で区切って入力してください' %>
        </div>

        <%= f.submit nil, class: "btn btn-primary mb-3" %>
      <% end %>

      <div class="mb-3">
        <div>※表示される画像（思い出のメイン画像）</div>
        <% if @memory.main_image.present? %>
          <%= image_tag @memory.main_image, width: "300", height: "200" %>
        <% else %>
          <%= image_tag "no_image.png", width: "300", height: "200" %>
        <% end %>
      </div>

      <% if @memory.score.present? %>
        <div>※表示される評価</div>
        <div class="content average-score">
          <div class="star-rating mb-2">
            <div class="star-rating-front" style="width: <%= @memory.score * 20 %>%">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
          <div class="average-score-display ml-3 pt-2">
            <%= @memory.score %>/5
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>