<div class="container">
  <section class="text-center container">
    <div class="row all-memories-title">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light border-bottom border-success pb-1"><%= current_user.name %>のポスト</h1>

        <h1 class="fw-light pt-3">【<i class="fa-sharp fa-solid fa-tag"></i><%= @tag.name %>】のポスト一覧</h1>
      </div>
    </div>
  </section>

  タグリスト
  <% if @tag_list.present? %>
    <div class="tag-container mb-4">
      <% @tag_list.each do |tag|%>
        <div class="tag">
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to tag.name,search_mypost_tag_posts_path(post_tag_id: tag.id) %>
          <%= "(#{tag.posts.where(user_id: current_user.id).count})" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row row-cols-1 row-cols-md-3">
    <%= render @tag_posts %>
  </div>
</div>