<div class="container">
  <div class="memory-position">
    <div class="body-style">
      <div class="mb-4 border-bottom">
        <% if current_user.avatar.attached? %>
          <h6><%= image_tag current_user.avatar, class: "rounded-circle", alt: "mdo", width: '48', height: '48'  %><span class="name_style ms-1"><%= @post.user.name %></span></h6>
        <% else %>
          <h6><%= image_tag "icon.png", class: "rounded-circle", alt: "mdo", width: '48', height: '48'  %><span class="name_style ms-1"><%= @post.user.name %></span></h6>
        <% end %>
      </div>

      <div class="mb-4 fst-italic border-bottom">
        <h3><%= @post.title %></h3>
      </div>

      <div class="pb-4 mb-3 border-bottom">
        <%= @post.body %>
      </div>

      <% if @memory.score.present? %>
        <div class="content average-score pb-3 mb-3 border-bottom">
          <div class="star-rating mb-2">
            <div class="star-rating-front" style="width: <%= @memory.score * 20 %>%">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
          <div class="average-score-display ml-3 pt-2">
            <%= @memory.score %>/5
          </div>
        </div>
      <% end %>

      <div class="pb-3 mb-3 border-bottom heart-btn">
        <div id="favorite_post_<%= @post.id %>">
          <%= render "favorites/favorite_btn", post: @post %>
        </div>
      </div>

      <% if @post.post_tags.present? %>
        <div class="tag-container pb-3 mb-3 border-bottom">
          <% @post.post_tags.each do |tag| %>
            <div class="tag">
              <i class="fa-sharp fa-solid fa-tag"></i>
              <%= link_to tag.name,search_tag_posts_path(post_tag_id: tag.id) %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="text-body-secondary mb-2">
        <%= @post.created_at.strftime("%Y/%m/%d") %>
      </div>

      <% if current_user.own?(@post) %>
        <div class="d-flex mb-4">
          <div>
            <%= link_to edit_memory_post_path(@memory, @memory.post), id: "button-edit-#{@post.id}" do %>
              <i class="bi bi-pencil-fill edit-link"></i>
            <% end %>
          </div>
          <div class="ms-2">
            <%= link_to memory_post_path(@memory, @memory.post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
              <i class="bi bi-trash-fill edit-link"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="mb-3">
        <%= link_to "< ポスト一覧", posts_path %>
      </div>
      <% if current_user.own?(@post) %>
        <div class="mb-3">
          <%= link_to "< My Post一覧", users_profile_path %>
        </div>
        <%= link_to "< 思い出詳細", memory_path(@memory) %>
      <% end %>
    </div>

    <div class="image-box">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active carousel-show-image">
          <% if @memory.main_image.present? %>
            <%= image_tag @memory.main_image, class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100", width: "800", height: "690", xmlns: "http://www.w3.org/2000/svg", role: "img", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <% else %>
            <%= image_tag "no_image.png", class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100", width: "800", height: "690", xmlns: "http://www.w3.org/2000/svg", role: "img", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>