<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="memory-position">
    <div class="body-style">
      <div class="mb-4 border-bottom">
        <% if current_user.avatar.attached? %>
          <h6><%= image_tag current_user.avatar, class: "rounded-circle", alt: "mdo", width: '48', height: '48'  %><span class="name_style ms-1"><%= @post.user.name %></span></h6>
        <% else %>
          <h6><%= image_tag "icon.png", class: "rounded-circle", alt: "mdo", width: '48', height: '48'  %><span class="name_style ms-1"><%= @post.user.name %></span></h6>
        <% end %>
      </div>

      <div class="mb-4 fst-italic border-bottom">
        <h3><%= @post.title %></h3>
      </div>

      <div class="pb-4 mb-3 border-bottom">
        <%= safe_join(@post.body.split("\n"),tag(:br)) %>
      </div>

      <% if @memory.score.present? %>
        <div class="content average-score pb-3 mb-3 border-bottom">
          <div class="star-rating mb-2">
            <div class="star-rating-front" style="width: <%= @memory.score * 20 %>%">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
          <div class="average-score-display ml-3 pt-2">
            <%= @memory.score %>/5
          </div>
        </div>
      <% end %>

      <div class="pb-3 mb-3 border-bottom heart-btn">
        <div id="favorite_post_<%= @post.id %>">
          <%= render "favorites/favorite_btn", post: @post %>
        </div>
      </div>

      <% if @post.post_tags.present? %>
        <div class="tag-container pb-3 mb-3 border-bottom">
          <% @post.post_tags.each do |tag| %>
            <div class="tag">
              <i class="bi bi-tag-fill"></i>
              <%= link_to tag.name,search_tag_posts_path(post_tag_id: tag.id) %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="text-body-secondary mb-3">
        <%= @post.created_at.strftime("%Y/%m/%d") %>
      </div>

      <% if current_user.own?(@post) %>
        <div class="d-flex mb-4">
          <div>
            <a class="btn btn-outline-primary btn-sm" href="<%= edit_memory_post_path(@memory, @memory.post) %>" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
              編集
            </a>
          </div>
          <div class="ms-3">
            <a class="btn btn-outline-danger btn-sm" href="<%= memory_post_path(@memory, @memory.post) %>" data-turbo-method="delete" data-turbo-confirm="削除しますか？" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
              削除
            </a>
          </div>
        </div>
      <% end %>

      <% if current_user.own?(@post) %>
        <div class="mb-3">
          <%= link_to "＜ このポストの思い出詳細", memory_path(@memory), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
        </div>
      <% end %>

      <div class="mb-2">
        <%= link_to "＜ 戻る", "javascript:history.back()", class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
      </div>
    </div>

    <div class="image-box">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active carousel-show-image">
          <% if @memory.main_image.present? %>
            <%= image_tag @memory.main_image, class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100", width: "800", height: "690", xmlns: "http://www.w3.org/2000/svg", role: "img", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <% else %>
            <%= image_tag "no_image.png", class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100", width: "800", height: "690", xmlns: "http://www.w3.org/2000/svg", role: "img", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>