<%= form_with model: memory do |f| %>
  <div class="mb-3">
    <%= f.label :day %>
    <%= f.date_field :day %>
  </div>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "10" %>
  </div>

  <a>評価</a>
  <div class="main-rating">
    <div class="ratings mb-3">
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
    </div>
    <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
  </div>
  <%= f.hidden_field :score, id: "rating-value" %>

  <% if memory.score.present? %>
    <a>登録済み評価</a>
    <div class="content average-score mb-3">
      <div class="star-rating mb-2">
        <div class="star-rating-front" style="width: <%= memory.score * 20 %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
      <div class="average-score-display ml-3 pt-2">
        <%= memory.score %>/5
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :main_image %>
    <%= f.file_field :main_image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :main_image_cache %>
  </div>

  <% if  memory.main_image.present? %>
    <a>登録済み画像<a>
    <div class="mb-3"><%= image_tag memory.main_image_url, width: "300", height: "200" %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :sub_image %>
    <%= f.file_field :sub_image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :sub_image_cache %>
  </div>

  <% if  memory.sub_image.present? %>
    <a>登録済み画像<a>
    <div class="mb-3"><%= image_tag memory.sub_image_url, width: "300", height: "200" %></div>
  <% end %>

  <%= f.submit nil, class: "btn btn-primary mb-3" %>
<% end %>

<%= javascript_include_tag "rating.js" %>