<div class="position">
  <div class="total">
    <h2>今月の思い出の数：<%= @memories_total.count %></h2>
  </div>

  <div>
    <%= month_calendar events: @memories do |date, memories| %>
      <%= link_to oneday_memory_path(date), class: "day-style" do %>
        <% if @memories.any? { |memory| date == memory.day } %>
          <div class="memory-day-color">
            <%= date.day %>
          </div>
        <% else %>
          <div class="day-color">
            <%= date.day %>
          </div>
        <% end %>
      <% end%>
    <% end %>
  </div>
</div>