<% @memories.each do |memory| %>
  <%= memory.day %>
  <div>
    <%= memory.title %>
  </div>
  <div>
    <%= memory.body %>
  </div>
  <% if memory.score.present? %>
    <div class="content average-score">
      <div class="star-rating mb-2">
        <div class="star-rating-front" style="width: <%= memory.score * 20 %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
      <div class="average-score-display ml-3 pt-2">
        <%= memory.score %>/5
      </div>
    </div>
  <% end %>
  <div>
    <%= image_tag memory.main_image_url, width: "300", height: "200" %>
  </div>
  <div>
    <%= image_tag memory.sub_image_url, width: "300", height: "200" %>
  </div>
  <div class='ms-auto'>
    <%= link_to edit_memory_path(memory), id: "button-edit-#{memory.id}" do %>
      <i class="bi bi-pencil-fill"></i>
    <% end %>
    <%= link_to memory_path(memory), id: "button-delete-#{memory.id}", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
  </div>

  <% if memory.post.present? %>
    <div>
      <%= link_to 'Post詳細', memory_post_path(memory, memory.post), class: 'btn btn-primary' %>
    </div>
  <% else %>
    <div>
      <%= link_to 'Post作成', new_memory_post_path(memory), class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>