<% content_for(:title, t('.title')) %>
<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="mb-4 mt-4">
        <h1><%= t('.title') %></h1>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :avatar %><br />
          <%= f.file_field :avatar, onchange: "avatarImage(this);", class: "form-control" %>
        </div>

        <div id="avatar" style="display:none;" class="mb-4" >
          <span>選択したアバター画像</span><br />
          <img id="avatar_preview" class="rounded-circle avatar-style" width="150" height="150">
        </div>

        <% if @user.avatar.attached? %>
          <span>登録済みアバター画像</span><br />
          <%= image_tag @user.avatar, class: "rounded-circle avatar-style mb-3", width: '150', height: '150' %>
        <% end %>

        <div>
          <%= f.submit nil, class: "btn btn-primary mb-3" %>
        </div>
      <% end %>

      <%= link_to "< 戻る", :back %>
</div>

<script>
  function avatarImage(obj){
    var fileReader = new FileReader();
    var avatarDiv = document.getElementById('avatar');

    if (obj.files && obj.files[0]) {
      fileReader.onload = (function() {
        document.getElementById('avatar_preview').src = fileReader.result; // プレビューに画像を設定
        avatarDiv.style.display = 'block'; // プレビューを表示
      });
      fileReader.readAsDataURL(obj.files[0]); // 画像ファイルを読み込む
    } else {
      avatarDiv.style.display = 'none'; // 画像が選択されていない場合は非表示
    }
  }
</script>